In [3]:
#instaluju sqlalchemy
#!pip install sqlalchemy mysql-connector-python -- sql alchemy tady asi nepotřebuju

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.13/site-packages (2.0.43)
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp313-cp313-macosx_14_0_arm64.whl.metadata (7.5 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.13/site-packages (from sqlalchemy) (4.15.0)
Downloading mysql_connector_python-9.5.0-cp313-cp313-macosx_14_0_arm64.whl (17.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.6/17.6 MB 948.2 kB/s  0:00:18m0:00:0100:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0

In [15]:
#import pandas - instalováno mám 
import pandas as pd
df_surovadata = pd.read_csv("kristynabasusova_surova_data.csv")
df_zdrojovadata = df_surovadata.copy()

In [17]:
#kolik tam mám řádků a sloupců 
df_zdrojovadata.shape

(11, 10)

In [19]:
#chci vidět co jsem si načetla (prvních 5 řádků)

df_zdrojovadata.head()

,nazev,ulice,mesto,dispozice,plocha,plocha_jednotka,cena,mena,perioda,url
0,Pronájem bytu 3+1 67 m²,Letců R. A. F.,Nymburk,3+1,67,m²,19000,Kč,měsíc,https://www.sreality.cz/detail/pronajem/byt/3+...
1,Pronájem bytu 4+1 88 m²,Dlabačova,Nymburk,4+1,88,m²,21000,Kč,měsíc,https://www.sreality.cz/detail/pronajem/byt/4+...
2,Pronájem bytu 3+kk 76 m²,V Kolonii,Nymburk,3+kk,76,m²,25000,Kč,měsíc,https://www.sreality.cz/detail/pronajem/byt/3+...
3,Pronájem bytu 4+kk 70 m²,Sadová,Nymburk,4+kk,70,m²,19900,Kč,měsíc,https://www.sreality.cz/detail/pronajem/byt/4+...
4,Pronájem bytu 2+kk 40 m²,Karla Čapka,Nymburk,2+kk,40,m²,14000,Kč,měsíc,https://www.sreality.cz/detail/pronajem/byt/2+...

In [20]:
#datové typy 
df_zdrojovadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nazev            11 non-null     object
 1   ulice            11 non-null     object
 2   mesto            11 non-null     object
 3   dispozice        11 non-null     object
 4   plocha           11 non-null     int64
 5   plocha_jednotka  11 non-null     object
 6   cena             11 non-null     int64
 7   mena             11 non-null     object
 8   perioda          11 non-null     object
 9   url              11 non-null     object
dtypes: int64(2), object(8)
memory usage: 1012.0+ bytes

In [22]:
# 1. Mohu přejmenovat plochu na plocha_v_m2 (protože všechno je m2) a následně vymazat sloupec plocha_jednotka

df_zdrojovadata["plocha_jednotka"].unique()

array(['m²'], dtype=object)

In [23]:
df_zdrojovadata = df_zdrojovadata.rename(columns={"plocha": "plocha_v_m2"})

In [28]:
df_zdrojovadata = df_zdrojovadata.rename(columns={"cena": "cena_v_czk"})

In [29]:
df_zdrojovadata.head()

,nazev,ulice,mesto,dispozice,plocha_v_m2,plocha_jednotka,cena_v_czk,mena,perioda,url
0,Pronájem bytu 3+1 67 m²,Letců R. A. F.,Nymburk,3+1,67,m²,19000,Kč,měsíc,https://www.sreality.cz/detail/pronajem/byt/3+...
1,Pronájem bytu 4+1 88 m²,Dlabačova,Nymburk,4+1,88,m²,21000,Kč,měsíc,https://www.sreality.cz/detail/pronajem/byt/4+...
2,Pronájem bytu 3+kk 76 m²,V Kolonii,Nymburk,3+kk,76,m²,25000,Kč,měsíc,https://www.sreality.cz/detail/pronajem/byt/3+...
3,Pronájem bytu 4+kk 70 m²,Sadová,Nymburk,4+kk,70,m²,19900,Kč,měsíc,https://www.sreality.cz/detail/pronajem/byt/4+...
4,Pronájem bytu 2+kk 40 m²,Karla Čapka,Nymburk,2+kk,40,m²,14000,Kč,měsíc,https://www.sreality.cz/detail/pronajem/byt/2+...

In [ ]:

# 2. Taky mohu změnit textová pole z object na string 

textove_sloupce = [
    "nazev",
    "ulice",
    "mesto",
    "dispozice",
    "mena",
    "perioda",
    "url"
]
df_zdrojovadata[textove_sloupce] = df_zdrojovadata[textove_sloupce].astype("string")

In [ ]:
#ještě přidám ID ke každému z bytů

In [30]:
#3. teď vymažu sloupec plocha_jednotka a předělám si pořadí 

df_zdrojovadata = df_zdrojovadata[['nazev', 'dispozice','plocha_v_m2','cena_v_czk','url','mesto','ulice']]

In [31]:
df_zdrojovadata.head()

,nazev,dispozice,plocha_v_m2,cena_v_czk,url,mesto,ulice
0,Pronájem bytu 3+1 67 m²,3+1,67,19000,https://www.sreality.cz/detail/pronajem/byt/3+...,Nymburk,Letců R. A. F.
1,Pronájem bytu 4+1 88 m²,4+1,88,21000,https://www.sreality.cz/detail/pronajem/byt/4+...,Nymburk,Dlabačova
2,Pronájem bytu 3+kk 76 m²,3+kk,76,25000,https://www.sreality.cz/detail/pronajem/byt/3+...,Nymburk,V Kolonii
3,Pronájem bytu 4+kk 70 m²,4+kk,70,19900,https://www.sreality.cz/detail/pronajem/byt/4+...,Nymburk,Sadová
4,Pronájem bytu 2+kk 40 m²,2+kk,40,14000,https://www.sreality.cz/detail/pronajem/byt/2+...,Nymburk,Karla Čapka

In [32]:
#4. ceny jsou v tisích a bez desetinných míst, plocha také nemá desetinná místa, upravovat číslo asi není potřeba měnit typ na float

In [34]:
#mohu ještě upravit první písmena sloupců na velké

df_zdrojovadata.columns = df_zdrojovadata.columns.str.capitalize()

In [35]:
#exportuji upravená data 

df_zdrojovadata.to_csv('kristynabasusova_zdrojova_data.csv')